/* index.css или App.css */
body {
  background-color: #a1c4e2; /* светло-голубой фон */
  margin: 0;
  font-family: Arial, sans-serif;
}

.calculator {
  width: 260px;
  margin: 100px auto;
  padding: 20px;
  background: #434040;
  border-radius: 12px;
  box-shadow: 0 4px 15px rgba(0,0,0,0.2);
}

.display {
  width: 90%;
  height: 40px;
  font-size: 24px;
  text-align: right;
  margin-bottom: 10px;
}

.buttons {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
}

button {
  height: 40px;
  font-size: 18px;
  cursor: pointer;
}